body {
    background-image: radial-gradient(#A4E3D8, #D27AAA);
    padding: 0px;
    margin: 0px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
}

.create form {
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 22%;
    margin-right: 22%;
}

.button {
    display: inline-block;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    text-decoration: none;
    font-weight: bold;
    background: lightcoral;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style-type: none;
}

.img {
    width: 15rem;
    position: relative;
    overflow: hidden;
    padding: 0rem;
}

img {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img::after {
    display: block;
    content: "";
    padding-top: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item > p:nth-child(2) {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

.dashboard > nav > ul {
    display: flex;

}

.dashboard > nav > ul li:not(:last-child) {
    padding-right: 1rem;

}

.dashboard .navbar {
    justify-content: center;
}

.dashboard h1 {
    text-align: center;
    margin: 0rem;
    padding: 2rem 0 1rem 0;
}

h3 {
    color: black;
    margin-bottom: 0;
    text-align: center;
}

img.hearts {
    width: 32px;
    height: 30px;
    position: relative;
    display: inline-block;
}

div.actions {
    display: flex;
    justify-content: center;
}

div.actions a {
    margin-right: 10px;
    height: 25px;
}

.dashboard .list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer {
    margin-top: auto;
    text-align: center;
    background: #234465;
}

footer p {
    padding: 1rem 0;
    font-weight: bold;
    margin: 0rem;
    color: white;
}

textarea#description {
    height: 100px;
    resize: none;
}

.item {
    border-radius: 10px;
    text-align: center;
    margin: 2rem;
    position: relative;
    width: 400px;
    height: auto;
    transition: all 0.3s cubic-bezier(.50, .80, .25, 1);
    box-shadow: -8px -2px 28px -8px #000000;
    align-items: center;
}

.item:hover {
    box-shadow: 30px 30px 100px 10px #000000;
}